.section-post-card{
	padding: 30px 0;

	@include media('≥tablet'){
		padding: 42px 0 70px;
	}

	.df-row{
		@include media('≥phone'){
			display: flex;
			flex-wrap:wrap;
			margin: 0 -15px;
		}
	}

	.col{
		@include media('≥phone'){
			padding: 0 15px;
			width: 50%;
		}

		@include media('≥tablet'){
			width: 33.33%;
		}
	}

	.card-list-wrapper{
		margin-bottom: 14px;
	}

	.btn-wrapper{
		text-align: center;
	}
}

.post-card{
	position: relative;
	color: $white;
	margin-bottom: 30px;
	min-height: 90vw;
	height: 0;
	display: flex;
	align-items: flex-end;
	padding: 40px 10px 10px 10px;
	font-size: 14px;
	background-position: center;
	background-size: cover;
	word-break: break-all;
	opacity: 0;


	@include media('≥phone'){
		min-height: 44vw;
	}

	@include media('≥tablet'){
		min-height: 31vw;
	}
	
	@include media('≥desktop'){
		min-height: 292px;
		padding: 50px 22px 13px;
		font-size: 17px;
	}

	&.video{
		.video-img{
			position: absolute;
			top: 11px;
    		right: 9px;
    		max-width: 25px;
    		width: 100%;

    		@include media('≥tablet'){
    			max-width: 38px;
    		}
		}
	}

	&.fadeInUp{
		opacity: 1;
	}

	&.zoomIn{
		opacity: 1;
	}


	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a{
		color: inherit;
	}

	.content{
		width: 100%;
	}

	.post-list-info{
		margin-bottom: 25px;

		> li{
			display: flex;
			justify-content: space-between;

			@include media('≥phone'){
				display: block;
			}

			@include media('≥tablet'){
				flex-wrap:nowrap;
				display: flex;
				flex-wrap:wrap;
			}

			&:not(:last-child){
				margin-bottom: 10px;

				@include media('≥desktop'){
					margin-bottom: 20px;
				}
			}
		}

		.caption{
			font-weight: $semibold;
		    max-width: 60px;
    		min-width: 60px;
    		margin-right: 5px;

    		@include media('≥phone'){
    			margin-bottom: 5px;
    			display: block;
    		}

    		@include media('≥desktop'){
    			margin-bottom: 0;
    			max-width: 80px;
    			min-width: 80px;
    		}

		}
	}

	.total-info{
		display: flex;
		font-weight: $bold;
		max-width: 170px;
		width: 100%;

		@include media('≥phone'){
			max-width: 200px;
		}

		@include media('≥tablet'){
			max-width: 160px;
		}

		@include media('≥desktop'){
			max-width: 150px;
		}


		[class^="icon-"]{
			margin-right: 6px;
		}

		li{
			max-width: 70px;
			min-width: 70px;
			display: flex;

			@include media('≥phone'){
				max-width: 50%;
				width: 100%;
			}

			@include media('≥desktop'){
    			max-width: 85px;
				min-width: 80px;
    		}

			&:not(:last-child){
				margin-right: 10px;
			}
		}

		a{
			display: flex;
			align-items: center;
			transition: 0.3s opacity ease-in-out;

			&:hover{
				opacity: 0.7;
			}
		}
	}

	.image-upload{
		font-weight: $semibold;
		display: block;
		text-align: center;
	}

	.icon-heart{
		@include media('≥desktop'){
			font-size: 20px;
		}

	}

	.icon-comment{
		&:before{
			transform: scaleX(-1);	
		}
	}
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
