.section-post-card{
	padding-top: 42px;

	.df-row{
		@include media('≥phone'){
			display: flex;
			flex-wrap:wrap;
			margin: 0 -15px;
		}
	}

	.col{
		@include media('≥phone'){
			padding: 0 15px;
			width: 50%;
		}
		@include media('≥tablet'){
			width: 33.33%;
		}
	}
}

.post-card{
	color: $white;
	margin-bottom: 30px;
	min-height: 90vw;
	height: 0;
	display: flex;
	align-items: flex-end;
	padding: 13px 22px;
	font-size: 17px;
	background-position: center;
	background-size: cover;
	word-break: break-all;


	@include media('≥phone'){
		min-height: 44vw;
	}

	@include media('≥tablet'){
		min-height: 31vw;
	}
	
	@include media('≥desktop'){
		min-height: 292px;
	}


	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a{
		color: inherit;
	}

	.content{
		width: 100%;
	}

	.post-list-info{
		margin-bottom: 25px;

		> li{
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;

			&:not(:last-child){
				margin-bottom: 20px;
			}
		}

		.caption{
			font-weight: $semibold;
		    max-width: 80px;
    		min-width: 80px;
    		margin-right: 5px;

    		margin-bottom: 10px;

    		@include media('≥desktop'){
    			margin-bottom: 0;
    		}

		}
	}

	.total-info{
		display: flex;
		font-weight: $bold;
		max-width: 160px;

		[class^="icon-"]{
			margin-right: 6px;
		}

		li{
			max-width: 85px;
			min-width: 80px;

			&:not(:last-child){
				margin-right: 10px;
			}
		}

		a{
			display: flex;
			align-items: center;
			transition: 0.3s opacity ease-in-out;

			&:hover{
				opacity: 0.7;
			}
		}
	}

	.image-upload{
		font-weight: $semibold;
		display: block;
		text-align: center;
	}

	.icon-heart{
		font-size: 20px;
	}

	.icon-comment{
		&:before{
			transform: scaleX(-1);	
		}
	}
}